<!doctype html>

<html>
<head>
	<title>LifeUp</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/home.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<h1 class = "header">LifeUP</h1>
		<div class = "sub_header">
			<img class = "image" src="images/up.png" />
			<div class = "time">83 years</div>
		</div>
		<div href="/log" class="btn btn-primary btn-large button">Log</div>
		<div href="#" class="btn btn-primary btn-large button">Analyze</div>
		<div href="#" class="btn btn-primary btn-large button">Improve</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		var currentTime = new Date()
  		var hours = currentTime.getHours()
  		var minutes = currentTime.getMinutes()
  		if (minutes < 10){
  			minutes = "0" + minutes;
  		}

	</script>
</body>
</html>
