/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.container{
     width: 100%;
     height: 100%;
}

.header{
     text-align: center ;
}

.image{
     height: 50px;
     width: 60px;
     float: left;
}
.time{
     font-size:250%;
     float: right;
}

.sub_header1{
     text-align: center ;
     height: 80px;
     width: 200px;
     margin-left: auto ;
     margin-top: 20px ;
     margin-right: auto ;
}

.sub_header2{
     text-align: center ;
     height: 80px;
     width: 250px;
     margin-left: auto ;
     margin-top: 20px ;
     margin-right: auto ;
     margin-bottom: 10px ;
}

.button{
     display: block;
     width: 70%;
     margin-top: 10px;
     margin-left: auto ;
     margin-right: auto ;
}

.jumbotron p {
     color: #6e6e6e;
}
